<div ng-controller='productsController'>

	<h1>Admin Dashboard - Products</h1>
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/admin/home">Home</a></li>
			<li role="presentation" class="active"><a href="#/admin/products">Products</a></li>
			<li role="presentation"><a href="#/admin/customers">Customers</a></li>
			<li role="presentation"><a href="#/admin/orders">Orders</a></li>
			<li role="presentation"><a href="#/admin/privileges">Privileges</a></li>
		</ul>

	
	<div id="productsForm">
        <div id="left">
        	<h3>Products</h3>
            <input type="Text" placeholder='Search' ng-model='filter_name.name'><br>
            <br>
            <br>
            
            <h4>Add a new product</h4>

            <form>
                Name: <br>
                <input type="text" ng-model='newProduct.name' placeholder='name...'><br><br>
                Image (URL):<br>
                <input type="text" ng-model='newProduct.image' placeholder='http://'><br><br>
                Description:<br>
                <textarea ng-model='newProduct.description' rows='5'></textarea><br><br>
                Initial Quantity:<br>
                <input type="text" ng-model='newProduct.quantity'>
                <br><br>
                In Stock:<br>
                <select ng-model='newProduct.inStock'>
                	<option>Yes</option>
                	<option>No</option>
                </select><br><br>
                Price ($):<br>
                <input type="text" ng-model='newProduct.price' placeholder='00.00'><br><br>
                Type:<br>
                <select ng-model='newProduct.type'>
                	<option>Boxers</option>
                	<option>Pajamas</option>
                </select><br>

                <input type="submit" ng-click='createProduct()' value="Create">

            </form>
        </div>

        <div id="right">
            

            <div id="product_snippet" ng-repeat='product in products | filter: filter_name'>
                <a href="#/admin/products/{{product._id}}" >
                <img src="{{ product.image}}" height="100"></a>
               
                <p>{{ product.name }}</p>
                <p>{{ product.description }}</p>
                <p>Type: {{ product.type }}</p>
                <p>In Stock: {{ product.inStock }}</p>
                <p>{{ product.price }}</p>
                
            </div>
        </div>
    </div>


</div>