<div ng-controller='adminProductsController'>

	<h1>Admin Dashboard - Products</h1>
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/admin/home">Home</a></li>
			<li role="presentation" class="active"><a href="#/admin/products">Products</a></li>
			<li role="presentation"><a href="#/admin/customers">Customers</a></li>
			<li role="presentation"><a href="#/admin/orders">Orders</a></li>
			<li role="presentation"><a href="#/admin/privileges">Privileges</a></li>
		</ul>

		<div id="right">
      <div id="product_snippet">
        <img src="{{ productData.image }}" height="100">
        <p>Product Name: {{ productData.name}}</p>
        <p>Product Description: {{ productData.description}}</p>
        <p>Quantity: ({{ productData.quantity}} left) </p><br>
      </div>
    </div>

</div>
