<div ng-controller='productsController'>

<h1>Admin Dashboard - Products</h1>
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/admin/home">Home</a></li>
			<li role="presentation" class="active"><a href="#/admin/products">Products</a></li>
			<li role="presentation"><a href="#/admin/customers">Customers</a></li>
			<li role="presentation"><a href="#/admin/orders">Orders</a></li>
			<li role="presentation"><a href="#/admin/privileges">Privileges</a></li>
		</ul>

		<div id="right">


            <div id="product_snippet">
							<h1>HERE In PRODUCT</h1>
							<pre>{{ productData | json}}</pre>
							<pre>{{ products | json}}</pre>
              <img src="{{ productData.image }}" height="100">

              <p>{{ productData.name}}</p>
              <p>{{ productData.description}}</p>
              <p>({{ productData.quantity}} left) </p><br>
            </div>
        </div>

</div>
